html, body {
    height: 100%;
}
body {
    background-image: url("images/background-body.jpg");
    background-size: cover;
}
.header{
    height:10vh;
}
h1 span {
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
    font-size: 9vmin;
}
#stats_container {
    position: relative;
    height: 90vh;
    color:white;
    background-color: rgba(0, 0, 0, 0.68);
}
.value {
    position: relative;
    color:black;
}
#game_area > .card {
    position: relative;
    height: 30vh;
}
.back > img,
.front >img {
    width: 10vw;
    height: 30vh;
    padding:.2em;
}
.back > img{
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}
.front > img {
    position:absolute;
    left:0;
    top:0;
    z-index:1;
}
.hide_back {
    opacity: 100;
}
.game_info {
    margin-top: 1vw;
}

/*animation for mushroom*/
.mushroom:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/*shaking when hover */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.right_sideBar {
    height: 90vh;
    line-height: 85vh;
}

.mushroom {
    display: inline-block;
    position: relative;
}
.rainbow {
    position: absolute;
    width: 100%;
    top:65%;
}

.rainbow {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 1s infinite;

    /* Internet Explorer */
    -ms-animation: rainbow 1s infinite;

    /* Standar Syntax */
    animation: rainbow 1s infinite;
}

 /*Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    20%{color: red;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: orange;}
}
